/*
* Caitlin Donnelly
* Due Date
* Project Name and Description
*/

/* The universal selector */

* { 

}

/* Body attributes here */

body {

}
#red { width: 300px; height: 300px;}
#netflix {width: 345px; height: 250px;}
#softball { width: 370px; height: 250px;}