/*
* Caitlin Donnelly
* Due Date
* Project Name and Description
*/

/* The universal selector */

* { 

}

/* Body attributes here */

body {

}
#Red { width: 300px; height: 300px;}
#Netflix {width: 345px; height: 250px;}
#Softball { width: 370px; height: 250px;}